.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    opacity: 0.2;
    transition: opacity 200ms ease-out;

    &:hover,
    &.active { opacity: 1; }
  }

}
