.heroIllustration_crop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: -1;
  overflow: hidden;
}

.heroIllustration_wrap {
  position: absolute;
  top: -80px;
  left: -10px;
  width: 100%;
  height: 100vh;
  transform: rotate(30deg);
}

@keyframes drawStroke {
  0%   { transform: translate3d( -50%, -50%, 0 ); stroke-dashoffset: 55000; }
  100% { transform: translate3d( -50%, -50%, 0 ); stroke-dashoffset: 0; }
}

@keyframes rotate3d {
  0%  { transform: translate3d( -50%, -50%, 0 ) rotateX( 0deg ) rotateY( 0deg ); }
  12% { transform: translate3d( -50%, -50%, 0 ) rotateX( -20deg ) rotateY( 0deg ); }
  25% { transform: translate3d( -50%, -50%, 0 ) rotateX( -20deg ) rotateY( -20deg ); }
  37% { transform: translate3d( -50%, -50%, 0 ) rotateX( 0deg ) rotateY( -20deg ); }
  50% { transform: translate3d( -50%, -50%, 0 ) rotateX( 0deg ) rotateY( 0deg ); }
  62% { transform: translate3d( -50%, -50%, 0 ) rotateX( 20deg ) rotateY( 0deg ); }
  75% { transform: translate3d( -50%, -50%, 0 ) rotateX( 20deg ) rotateY( 20deg ); }
  87% { transform: translate3d( -50%, -50%, 0 ) rotateX( 0deg ) rotateY( 20deg ); }
  100% { transform: translate3d( -50%, -50%, 0 ) rotateX( 0deg ) rotateY( 0deg ); }
}

@keyframes rotate360 {
  0%   { transform: translate3d( -50%, -50%, 0 ) rotate(0); }
  100% { transform: translate3d( -50%, -50%, 0 ) rotate(360deg); }
}

@keyframes strokeColorChange {
  0%   { stroke: red; }
  50%  { stroke: blue; }
  100% { stroke: red; }
}

.heroIllustration {
  position: absolute;
  width: 2200px;
  fill: none;
  stroke: #e1e1e1;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-width: 1px;
  stroke-dasharray: 55000;
  stroke-dashoffset: 55000;
  // transform-style: preserve-3d;

  left: 50%;
  top: 50%;

  // GPU
  backface-visibility: hidden;
  perspective: 1000;

  animation: drawStroke 250s infinite alternate, rotate3d 80s infinite alternate;
}
