.project {

  &_meta {
		opacity: 0;
		transition: opacity 200ms ease-out;
	}

	img {
		opacity: 1;
		transition: opacity 200ms ease-out;
	}

	&:hover {
		img { opacity: 0.03; }
		.project_meta { opacity: 1; }
	}

}
